body{
    margin-bottom: 10em;
}

.footer-text {
    color: white;
}

#contactInfo {
    margin-top: 30em; 
}

#navBar{
    background-color: darkred;
}

#imageCarouselContainer{
    width: 65%;
}

#logoImg{
    height: 50px;
}

#homePageTxtContainer{
    margin-top: 20em;
}

#aboutContainer{
    margin-top: 10em;
    margin-bottom: 10em;
}

#quoteContainer{
    width: fit-content;
}

#warning{
    color: red
}